<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/mainapp/logged-new-pet/">
        <input type="submit" value="Dodaj swojego zwierzaka" />
    </form>
    <p></p>
    <form action="/mainapp/logout/">
        <input type="submit" value="Wyloguj się            " />
    </form>
    {% if user_pets|length == 0 %}
        <h2>Brak zwierząt w bazie</h2>
    {% else %}
        <h2>Ilość zwierząt w bazie: {{ user_pets | length }}</h2>
    <table>

    <tr>
        <TD>Imię</TD>
        <TD>Gatunek</TD>
        <TD>Dodaj wizytę</TD>
        <TD>Edytuj</TD>
        <TD>Usuń konto zwierzaka</TD>
    </tr>
    {% for item in user_pets %}
    <TR>
        <TD> {{ item.pet_name }}</TD>
        <TD> {{ item.pet_species }}</TD>
        <TD><a href='/mainapp/logged-new-visit/{{ item.id }}'>Dodaj wizytę</a></TD>
        <TD><a href='/mainapp/logged-new-pet/{{ item.id }}/'>Edytuj</a></TD>
        <TD><a href='/mainapp/logged-delete-pet/{{ item.id }}/'>Usuń</a></TD>
        {% endfor %}
    </TR>

    </table>
    <p></p>
    <table>
    <tr>
        <TD>Właściciel</TD>
        <TD>Data Wizyty</TD>
        <TD>Adres</TD>
        <TD>Telefon</TD>
        <TD>email</TD>
        <TD>Weterynarz</TD>
        <TD>Uwagi</TD>
        <TD>Edytuj wizytę</TD>
        <TD>Usuń wizytę wizytę</TD>
    </tr>
    {% for item in pet_visit %}
    <TR>
        <TD>{{ item.visit_owner }}</TD>
        <TD>{{ item.date }}</TD>
        <TD> {{ item.address }}</TD>
        <TD> {{ item.telephone }}</TD>
        <TD> {{ item.email }}</TD>
        <TD> {{ item.vetname }}</TD>
        <TD> {{ item.comments }}</TD>
        <TD><a href='/mainapp/logged-edit-visit/{{ item.id }}'>Edytuj wizytę</a></TD>
        <TD><a href='/mainapp/logged-delete-visit/{{ item.id }}'>Usuń wizytę</a></TD>
    </TR>
    {% endfor %}
    </table>
    {% endif %}

</body>
</html>