<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/mainapp/logout/">
        <input type="submit" value="Wyloguj się            " />
    </form>
    <form action="/mainapp/logged-new-pet/">
        <input type="submit" value="Dodaj swojego zwierzaka" />
    </form>
     {% if user_pets|length == 0 %}
        <h2>Brak zwierząt w bazie</h2>
    {% else %}
        <h2>Ilość zwierząt w bazie: {{ user_pets | length }}</h2>
    <table>
    <tr>
        <TD>Imię</TD>
        <TD>Data urodzenia</TD>
        <TD>Waga</TD>
        <TD>Płeć</TD>
        <TD>Gatunek</TD>
    </tr>
    {% for item in user_pets %}
    <TR>
        <TD>{{ item.pet_name }}</TD>
       <TD> {{ item.pet_birth }}</TD>
       <TD> {{ item.pet_weight }}</TD>
       <TD> {{ item.pet_gender }}</TD>
       <TD> {{ item.pet_species }}</TD>
    </TR>
    {% endfor %}
    </table>
    <p></p>
<!--    <table>-->
<!--    <tr>-->
<!--        <TD>Data Wizyty</TD>-->
<!--        <TD>Adres</TD>-->
<!--        <TD>Telefon</TD>-->
<!--        <TD>email</TD>-->
<!--        <TD>Weterynarz</TD>-->
<!--        <TD>Uwagi</TD>-->
<!--    </tr>-->
<!--    {% for item in pet_visit %}-->
<!--    <TR>-->
<!--        <TD>{{ item.date }}</TD>-->
<!--        <TD> {{ item.pet_address }}</TD>-->
<!--        <TD> {{ item.telephone }}</TD>-->
<!--        <TD> {{ item.email }}</TD>-->
<!--        <TD> {{ item.vetname }}</TD>-->
<!--        <TD> {{ item.comments }}</TD>-->
<!--    </TR>-->
<!--    {% endfor %}-->
<!--    </table>-->
    {% endif %}

</body>
</html>
